[data-tab-content] {
    display: none;
}

.active[data-tab-content]{
    display: block;
}

html {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: rgb(158, 229, 255);
}

h1 {
    padding: 0px;
    margin: 20px;
}

p {
    margin: 20px;
    padding: 0px;
}

.tabs {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 10px solid rgb(133, 227, 255);
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: rgb(99, 199, 236)
}

.tab:hover {
    background-color: rgb(99, 199, 236)
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}
